In [1]:
# importing libraries
import pandas as pd

In [2]:
wh_2015 = pd.read_csv("../data/raw/2015.csv")
wh_2016 = pd.read_csv("../data/raw/2016.csv")
wh_2017 = pd.read_csv("../data/raw/2017.csv")
wh_2018 = pd.read_csv("../data/raw/2018.csv")
wh_2019 = pd.read_csv("../data/raw/2019.csv")

In [3]:
print(wh_2015.shape)
wh_2015.head()

(158, 12)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
print(wh_2016.shape)
wh_2016.head()

(157, 13)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [5]:
print(wh_2017.shape)
wh_2017.head()

(155, 12)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [6]:
print(wh_2018.shape)
wh_2018.head()

(156, 9)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [7]:
print(wh_2019.shape)
wh_2019.head()

(156, 9)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [8]:
# renaming columns
wh_2019.rename(columns={
    "Overall rank": "rank",
    "Country or region": "country",
    "Score": "score",
    "GDP per capita": "gdp_per_capita",
    "Social support": "social_support",
    "Healthy life expectancy": "life_expectancy",
    "Freedom to make life choices": "freedom",
    "Generosity": "generosity",
    "Perceptions of corruption": "corruption"
}, inplace=True)

wh_2018.rename(columns={
    "Overall rank": "rank",
    "Country or region": "country",
    "Score": "score",
    "GDP per capita": "gdp_per_capita",
    "Social support": "social_support",
    "Healthy life expectancy": "life_expectancy",
    "Freedom to make life choices": "freedom",
    "Generosity": "generosity",
    "Perceptions of corruption": "corruption"
}, inplace=True)

wh_2017.rename(columns={
    "Happiness.Rank": "rank",
    "Country": "country",
    "Happiness.Score": "score",
    "Economy..GDP.per.Capita.": "gdp_per_capita",
    "Family": "social_support",
    "Health..Life.Expectancy.": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust..Government.Corruption.": "corruption"
}, inplace=True)

wh_2016.rename(columns={
    "Happiness Rank": "rank",
    "Country": "country",
    "Happiness Score": "score",
    "Economy (GDP per Capita)": "gdp_per_capita",
    "Family": "social_support",
    "Health (Life Expectancy)": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust (Government Corruption)": "corruption"
}, inplace=True)

wh_2015.rename(columns={
    "Happiness Rank": "rank",
    "Country": "country",
    "Happiness Score": "score",
    "Economy (GDP per Capita)": "gdp_per_capita",
    "Family": "social_support",
    "Health (Life Expectancy)": "life_expectancy",
    "Freedom": "freedom",
    "Generosity": "generosity",
    "Trust (Government Corruption)": "corruption"
}, inplace=True)

In [9]:
# adding a new year column
wh_2019["year"] = 2019
wh_2018["year"] = 2018
wh_2017["year"] = 2017
wh_2016["year"] = 2016
wh_2015["year"] = 2015

In [10]:
# subsetting the dataframes to join
wh_2019 = wh_2019[["year", "rank", "country", "score", "gdp_per_capita", "social_support", "life_expectancy", "freedom", "generosity", "corruption"]]
wh_2018 = wh_2018[["year", "rank", "country", "score", "gdp_per_capita", "social_support", "life_expectancy", "freedom", "generosity", "corruption"]]
wh_2017 = wh_2017[["year", "rank", "country", "score", "gdp_per_capita", "social_support", "life_expectancy", "freedom", "generosity", "corruption"]]
wh_2016 = wh_2016[["year", "rank", "country", "score", "gdp_per_capita", "social_support", "life_expectancy", "freedom", "generosity", "corruption"]]
wh_2015 = wh_2015[["year", "rank", "country", "score", "gdp_per_capita", "social_support", "life_expectancy", "freedom", "generosity", "corruption"]]

In [11]:
# union all
df = pd.concat([wh_2019, wh_2018, wh_2017, wh_2016, wh_2015])

In [12]:
df

,year,rank,country,score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption
0,2019,1,Finland,7.769,1.34000,1.58700,0.98600,0.59600,0.15300,0.39300
1,2019,2,Denmark,7.600,1.38300,1.57300,0.99600,0.59200,0.25200,0.41000
2,2019,3,Norway,7.554,1.48800,1.58200,1.02800,0.60300,0.27100,0.34100
3,2019,4,Iceland,7.494,1.38000,1.62400,1.02600,0.59100,0.35400,0.11800
4,2019,5,Netherlands,7.488,1.39600,1.52200,0.99900,0.55700,0.32200,0.29800
...,...,...,...,...,...,...,...,...,...,...
153,2015,154,Rwanda,3.465,0.22208,0.77370,0.42864,0.59201,0.22628,0.55191
154,2015,155,Benin,3.340,0.28665,0.35386,0.31910,0.48450,0.18260,0.08010
155,2015,156,Syria,3.006,0.66320,0.47489,0.72193,0.15684,0.47179,0.18906
156,2015,157,Burundi,2.905,0.01530,0.41587,0.22396,0.11850,0.19727,0.10062
157,2015,158,Togo,2.839,0.20868,0.13995,0.28443,0.36453,0.16681,0.10731

In [13]:
df.to_csv("../data/processed/world_happiness_merged.csv", index=False)