In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
# importing the file needed for the analysis
df = pd.read_csv("../data/processed/world_happiness_integrated.csv")
df_2015 = df[df['year']==2015]
df_2016 = df[df['year']==2016]
df_2017 = df[df['year']==2017]
df_2018 = df[df['year']==2018]
df_2019 = df[df['year']==2019]

In [3]:
df.shape

(782, 10)

observations from the above cell result:
1. There are about an average of 156 countries per year.
2. dataset is small and shouldn't struggle when performed intensive operations on top of it.

In [4]:
df.head()

,year,rank,country,score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption
0,2019,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2019,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2019,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,2019,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,2019,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

score is calculated based on (from gdp_per_capita to corruption). so score is dependent on all the other variables.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             782 non-null    int64
 1   rank             782 non-null    int64
 2   country          782 non-null    object
 3   score            782 non-null    float64
 4   gdp_per_capita   782 non-null    float64
 5   social_support   782 non-null    float64
 6   life_expectancy  782 non-null    float64
 7   freedom          782 non-null    float64
 8   generosity       782 non-null    float64
 9   corruption       781 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 61.2+ KB

no null cells.
datatype is fine.

In [6]:
# overall stats
df[['score', 'gdp_per_capita', 'social_support', 'life_expectancy', 'freedom', 'generosity', 'corruption']].describe()

,score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000
mean,5.379018,0.916047,1.078392,0.612416,0.411091,0.218576,0.125436
std,1.127456,0.407340,0.329548,0.248309,0.152880,0.122321,0.105816
min,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.509750,0.606500,0.869363,0.440183,0.309768,0.130000,0.054000
50%,5.322000,0.982205,1.124735,0.647310,0.431000,0.201982,0.091000
75%,6.189500,1.236187,1.327250,0.808000,0.531000,0.278832,0.156030
max,7.769000,2.096000,1.644000,1.141000,0.724000,0.838075,0.551910

In [7]:
# yearby stats
result_wide = df.groupby('year').agg({'rank' : 'max',
                                       'country' : 'nunique',
                                       'score' : ['max', 'min', np.mean, np.std, np.median],
                                       'gdp_per_capita' : ['max', 'min', np.mean, np.std, np.median],
                                       'social_support' : ['max', 'min', np.mean, np.std, np.median],
                                       'life_expectancy' : ['max', 'min', np.mean, np.std, np.median],
                                       'freedom' : ['max', 'min', np.mean, np.std, np.median],
                                       'generosity': ['max', 'min', np.mean, np.std, np.median],
                                       'corruption': ['max', 'min', np.mean, np.std, np.median]
                                       })

In [8]:
# transposing the above result to a format that is more easier to comprehend
result_wide.T

year                           2015        2016        2017        2018  \
rank            max      158.000000  157.000000  155.000000  156.000000
country         nunique  158.000000  157.000000  155.000000  156.000000
score           max        7.587000    7.526000    7.537000    7.632000
                min        2.839000    2.905000    2.693000    2.905000
                mean       5.375734    5.382185    5.354019    5.375917
                std        1.145010    1.141674    1.131230    1.119506
                median     5.232500    5.314000    5.279000    5.378000
gdp_per_capita  max        1.690420    1.824270    1.870766    2.096000
                min        0.000000    0.000000    0.000000    0.000000
                mean       0.846137    0.953880    0.984718    0.891449
                std        0.403121    0.412595    0.420793    0.391921
                median     0.910245    1.027800    1.064578    0.949500
social_support  max        1.402230    1.183260    1.610574    1.644000
                min        0.000000    0.000000    0.000000    0.000000
                mean       0.991046    0.793621    1.188898    1.213237
                std        0.272369    0.266706    0.287263    0.302372
                median     1.029510    0.841420    1.253918    1.255000
life_expectancy max        1.025250    0.952770    0.949492    1.030000
                min        0.000000    0.000000    0.000000    0.000000
                mean       0.630259    0.557619    0.551341    0.597346
                std        0.247078    0.229349    0.237073    0.247579
                median     0.696705    0.596590    0.606042    0.644000
freedom         max        0.669730    0.608480    0.658249    0.724000
                min        0.000000    0.000000    0.000000    0.000000
                mean       0.428615    0.370994    0.408786    0.454506
                std        0.150693    0.145507    0.149997    0.162424
                median     0.435515    0.397470    0.437454    0.487000
generosity      max        0.795880    0.819710    0.838075    0.598000
                min        0.000000    0.000000    0.000000    0.000000
                mean       0.237296    0.242635    0.246883    0.181006
                std        0.126685    0.133756    0.134780    0.098471
                median     0.216130    0.222450    0.231538    0.174000
corruption      max        0.551910    0.505210    0.464308    0.457000
                min        0.000000    0.000000    0.000000    0.000000
                mean       0.143422    0.137624    0.123120    0.112000
                std        0.120034    0.111038    0.101661    0.096492
                median     0.107220    0.105470    0.089848    0.082000

year                           2019
rank            max      156.000000
country         nunique  156.000000
score           max        7.769000
                min        2.853000
                mean       5.407096
                std        1.113120
                median     5.379500
gdp_per_capita  max        1.684000
                min        0.000000
                mean       0.905147
                std        0.398389
                median     0.960000
social_support  max        1.624000
                min        0.000000
                mean       1.208814
                std        0.299191
                median     1.271500
life_expectancy max        1.141000
                min        0.000000
                mean       0.725244
                std        0.242124
                median     0.789000
freedom         max        0.631000
                min        0.000000
                mean       0.392571
                std        0.143289
                median     0.417000
generosity      max        0.566000
                min        0.000000
                mean       0.184846
                std        0.095254
                median     0.177500
corruption      max        0.453000
                min        0.000000
                mean       0.110603
                std        0.094538
                median     0.085500

1. max rank and nunique country value matches. so no duplicate entries in country column
2. from visual inspection, the scores seems to be in the same scale